html {
  background-color: #000;
}

.clock-face {
  position: relative;
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  position: absolute;
  width: 28px;
  transform-origin: 150px 150px;
  left: 46.5%;
  top: 140px;
}

.hand {
  position: absolute;
  transform-origin: 5px 5px;
  left: 48.7%;
  top: 145px;
  width: 14px;
}

.hand-hour {
  animation: spin 6s linear infinite;
}

.hand-minute {
  animation: spin 1s linear infinite;
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}
